<nav class="navbar">
  <a href="#"><img src="/assets/images/icons/Logo.svg" alt="Logo EA360" /></a>
  <button class="navbar__toggle">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6"
      viewBox="0 0 448 512"
    >
      <path
        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
      />
    </svg>
  </button>
  <ul class="navbar__list w-full">
    <li><a class="navbar__item" href="#">Home</a></li>
    <li><a class="navbar__item" href="#">About</a></li>
    <li><a class="navbar__item" href="#">Our Work</a></li>
    <li><a class="navbar__item" href="#">Our tools</a></li>
    <li><a class="navbar__item btn" href="#">Get your free guide now</a></li>
  </ul>
</nav>
