<nav class="navbar" [ngClass]="{ active: isActive }">
  <div class="container content">
    <div class="navbar__identity">
      <a href="#" class="block"
        ><img
          class="block h-[55px]"
          src="/assets/images/icons/Logo.svg"
          alt="Logo EA360"
      /></a>
      <button class="navbar__toggle" (click)="toggleActive()">
        <svg
          *ngIf="isActive; else notActive"
          class="w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
        >
          <path
            d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
          />
        </svg>
        <ng-template #notActive>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            viewBox="0 0 448 512"
          >
            <path
              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
            />
          </svg>
        </ng-template>
      </button>
    </div>
    <ul class="w-full navbar__list">
      <li><a class="navbar__link" href="#">Home</a></li>
      <li><a class="navbar__link" href="#">About</a></li>
      <li><a class="navbar__link" href="#">Our Work</a></li>
      <li class="border-none">
        <a class="navbar__link" href="#">Our tools</a>
      </li>
      <li class="btn-content">
        <a class="navbar__link btn" href="#">Get your free guide now</a>
      </li>
    </ul>
  </div>
</nav>
