.about {
  max-width: rem(1140);
  @apply mx-auto;

  .icon {
    color: var(--blue-dark);
  }

  .title-2 {
    @extend %title-blue;
  }

  .icon,
  .text-content,
  .title {
    @apply transition-colors duration-300;
  }

  .card {

    @apply cursor-context-menu p-12 transition-colors duration-300;
    background: var(--primary-gradient);


    .icon,
    .text-content,
    .title {
      color: var(--color-white);
    }

    &:hover {
      background-color: var(--background-color);

    }
  }
}

.card-grid {
  .card {

    &.card-item-1 {

      border-radius: 100px 4px 4px 4px;
    }

    &.card-item-2 {
      border-radius: 4px 100px 4px 4px;
    }

    &.card-item-4 {
      border-radius: 4px 4px 100px 4px;

    }

    &.card-item-3 {
      border-radius: 4px 4px 4px 100px;

    }
  }
}