<footer class="section" id="footer">
  <div class="py-10 bg-smooth">
    <div class="container">
      <div class="flex flex-wrap items-center justify-around gap-5">
        <div class="block-content">
          <h5 class="pt-3 text-xl title title-4 blue-dark">
            Get notified when We publish new articles
          </h5>
          <p class="text-content">
            Stay up to date with the latest news, announcements, and articles.
          </p>
        </div>
        <form action="" class="flex items-center gap-x-3">
          <input
            type="email"
            name="email"
            class="px-3 py-2 transition-all duration-150 border border-gray-400 rounded-md outline-none ring ring-transparent focus:ring-2 focus:ring-offset-1 focus:ring-blue-300"
            placeholder="Enter your email"
            id="email"
          />

          <button class="px-3 py-2 text-white rounded bg-blue-950">
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="container my-10">
    <div class="justify-around block block-content">
      <div class="block-context block__left max-w-[550px]">
        <div class="w-32 h-16">
          <img src="/assets/images/icons/Logo-blue.svg" alt="Logo" />
        </div>

        <p class="text-content">
          The Executive Office of East Africa (EA360) is a human capacity
          development company, which offers a systematic approach to personal
          and organizational development. We do this through radical learning
          and development experiences and coaching. We are unique because we
          bring multiple disciplines
        </p>
      </div>
      <div class="block block-content">
        <ul class="flex-none footer__list w-max block__left">
          <li class="flex-none w-full">
            <a
              href="#"
              class="mb-2 text-xl font-semibold text-gray-500 hover:underline footer__link"
              >Home
            </a>
          </li>
          <li class="flex-none w-full">
            <a
              href="#"
              class="mb-2 text-xl font-semibold text-gray-500 hover:underline footer__link"
              >About
            </a>
          </li>
          <li class="flex-none w-full">
            <a
              href="#"
              class="mb-2 text-xl font-semibold text-gray-500 hover:underline footer__link"
              >Our Work
            </a>
          </li>
          <li class="flex-none w-full">
            <a
              href="#"
              class="mb-2 text-xl font-semibold text-gray-500 hover:underline footer__link"
              >Our tools
            </a>
          </li>
          <li class="flex-none w-full">
            <a
              href="#"
              class="mb-2 text-xl font-semibold text-gray-500 hover:underline footer__link"
              >Contact
            </a>
          </li>
        </ul>
        <ul class="flex-none footer__list w-max block__right">
          <li class="flex-none w-full">
            <a
              href="tel:+254 723 944 820"
              class="mb-2 text-xl font-semibold text-gray-500 hover:underline footer__link"
              >+254 723 944 820
            </a>
          </li>
          <li class="flex-none w-full">
            <a
              href="mailto:info@ea360.org"
              class="mb-2 text-xl font-semibold text-gray-500 hover:underline footer__link"
              >info@ea360.org
            </a>
          </li>
          <li class="flex-none w-full">
            <a
              href="#"
              class="mb-2 text-xl font-semibold text-gray-500 hover:underline footer__link"
              >Instagram
            </a>
          </li>
          <li class="flex-none w-full">
            <a
              href="#"
              class="mb-2 text-xl font-semibold text-gray-500 hover:underline footer__link"
              >LinkedIn
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
