<article
  class="blog-card max-w-[400px] min-w-[250px] text-center min-h-[520px] flex flex-col items-center"
>
  <header>
    <img
      [src]="article.image"
      class="w-100 max-w-[400px] min-w-[240px] object-cover"
      [alt]="article.title"
    />
  </header>
  <div class="my-5 text-xs font-medium uppercase primary-color">
    {{ article.tag }}
  </div>
  <div class="card-body">
    <h3 class="text-center title title-3 blue-dark">{{ article.title }}</h3>
    <p class="text-content">{{ article.except }}</p>
  </div>
  <footer>
    <a
      href="#"
      class="my-5 text-sm font-semibold underline uppercase primary-color"
      >Learn more</a
    >
  </footer>
</article>
