<header class="header">
  <app-navbar />
  <div class="header__banner">
    <div class="block">
      <div class="block__left">
        <h1 class="title title-1">The Executive Office of East Africa</h1>
        <p class="text">
          The Executive Office of East Africa (EA360) is a human capacity
          development company, which offers a systematic approach to personal
          and organizational development. We do this through radical learning
          and development experiences and coaching.
        </p>
        <a href="#" class="btn btn-action">Get your free guide now</a>
      </div>
      <div class="block__right">
        <div class="block-badge">
          <img src="/assets/images/objectif.svg" alt="Objectif" />
          <div class="badge__content">
            <span class="text-2xl text-blue-950">100</span>
            <p class="badge__text">Success rate this year</p>
          </div>
        </div>
        <div class="block__img">
          <img src="assets/images/banner-images.jpg" alt="Banner image" />
        </div>
      </div>
    </div>
  </div>
</header>
