<header class="header">
  <app-navbar />
  <div class="header__banner">
    <div class="container content">
      <div class="block block-content">
        <div class="block__left">
          <h1 class="title title-1">The Executive Office of East Africa</h1>
          <p class="text">
            The Executive Office of East Africa (EA360) is a human capacity
            development company, which offers a systematic approach to personal
            and organizational development. We do this through radical learning
            and development experiences and coaching.
          </p>
          <a href="#" class="btn btn-action">Get your free guide now</a>
        </div>
        <div class="relative block__right">
          <div class="block-badge">
            <img src="/assets/images/icons/objectif.svg" alt="Objectif" />
            <div class="badge__content">
              <span class="text-2xl font-black">100</span>
              <p class="badge__text text-blue-950">Success rate this year</p>
            </div>
          </div>
          <div class="block__img">
            <img src="assets/images/banner-images.jpg" alt="Banner image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="about" class="section about">
  <div class="container">
    <div class="block block-content">
      <div class="block__left">
        <span class="icon">
          <svg
            width="101"
            height="17"
            viewBox="0 0 101 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M26.2609 4.32287L38.3456 17L50.5232 4.32287L62.6544 17L74.7391 4.32287L86.8702 17L101 2.23427L98.8155 0L86.8702 12.4828L74.925 0L74.7391 0.194298L74.5996 0L62.6544 12.4828L50.6627 0L50.5232 0.194298L50.3373 0L38.3456 12.4828L26.4004 0L26.2609 0.194298L26.075 0L14.1298 12.4828L2.18454 0L0 2.23427L14.1298 17L26.2609 4.32287Z"
              fill="currentColor"
            />
          </svg>
        </span>
        <h2 class="title title-2">
          We can help you in these particular areas.
        </h2>
      </div>
      <div class="block__right">
        <p class="text-content">
          We are unique because we bring multiple disciplines together in order
          to support our clients and their people in an all-inclusive
          comprehensive manner. We create platforms that allow for personal
          obligation, empowerment to work, and confidence.
        </p>
        <p class="text-content">
          What this change looks like, is personal and customized to the
          specific needs of our clients. We identify and fill gaps. We also
          provide a framework for Radical Organisational Change.
        </p>
      </div>
    </div>
    <div class="block-center">
      <div class="card-grid">
        <app-card
          title="Executive Coaching"
          text="
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua minim veniam."
        >
          <svg
            icon
            width="72"
            height="72"
            viewBox="0 0 72 72"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_3_9261)">
              <g clip-path="url(#clip1_3_9261)">
                <path
                  d="M21 21C24.3137 21 27 18.3137 27 15C27 11.6863 24.3137 9 21 9C17.6863 9 15 11.6863 15 15C15 18.3137 17.6863 21 21 21Z"
                  stroke="currentColor"
                  stroke-width="2.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M15 66V51L12 48V36C12 35.2044 12.3161 34.4413 12.8787 33.8787C13.4413 33.3161 14.2044 33 15 33H27C27.7956 33 28.5587 33.3161 29.1213 33.8787C29.6839 34.4413 30 35.2044 30 36V48L27 51V66"
                  stroke="currentColor"
                  stroke-width="2.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M51 21C54.3137 21 57 18.3137 57 15C57 11.6863 54.3137 9 51 9C47.6863 9 45 11.6863 45 15C45 18.3137 47.6863 21 51 21Z"
                  stroke="currentColor"
                  stroke-width="2.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M45 66V54H39L45 36C45 35.2044 45.3161 34.4413 45.8787 33.8787C46.4413 33.3161 47.2044 33 48 33H54C54.7956 33 55.5587 33.3161 56.1213 33.8787C56.6839 34.4413 57 35.2044 57 36L63 54H57V66"
                  stroke="currentColor"
                  stroke-width="2.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
            </g>
            <defs>
              <clipPath id="clip0_3_9261">
                <rect width="72" height="72" rx="5" fill="currentColor" />
              </clipPath>
              <clipPath id="clip1_3_9261">
                <rect width="72" height="72" fill="currentColor" />
              </clipPath>
            </defs>
          </svg>
        </app-card>
        <app-card
          class="lg:mt-10"
          title="Experiential Learning"
          text="
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua minim veniam."
          ><svg
            icon
            width="72"
            height="72"
            viewBox="0 0 72 72"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_3_9242)">
              <path
                d="M27 12V66M18 12H51C52.5913 12 54.1174 12.6321 55.2426 13.7574C56.3679 14.8826 57 16.4087 57 18V54C57 55.5913 56.3679 57.1174 55.2426 58.2426C54.1174 59.3679 52.5913 60 51 60H18C17.2044 60 16.4413 59.6839 15.8787 59.1213C15.3161 58.5587 15 57.7956 15 57V15C15 14.2044 15.3161 13.4413 15.8787 12.8787C16.4413 12.3161 17.2044 12 18 12V12Z"
                stroke="currentColor"
                stroke-width="2.75"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M39 24H45"
                stroke="currentColor"
                stroke-width="2.75"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M39 36H45"
                stroke="currentColor"
                stroke-width="2.75"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_3_9242">
                <rect width="72" height="72" rx="5" fill="currentColor" />
              </clipPath>
            </defs>
          </svg>
        </app-card>
        <app-card
          class="lg:-mt-10"
          title="Mentoring"
          text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam.
      "
          ><svg
            icon
            width="72"
            height="72"
            viewBox="0 0 72 72"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_3_9274)">
              <g clip-path="url(#clip1_3_9274)">
                <path
                  d="M62.25 45.5L52.5 35.75H29.75C28.888 35.75 28.0614 35.4076 27.4519 34.7981C26.8424 34.1886 26.5 33.362 26.5 32.5V13C26.5 12.138 26.8424 11.3114 27.4519 10.7019C28.0614 10.0924 28.888 9.75 29.75 9.75H59C59.862 9.75 60.6886 10.0924 61.2981 10.7019C61.9076 11.3114 62.25 12.138 62.25 13V45.5Z"
                  stroke="#3F3A64"
                  stroke-width="2.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M39.5 48.75V55.25C39.5 56.112 39.1576 56.9386 38.5481 57.5481C37.9386 58.1576 37.112 58.5 36.25 58.5H13.5L3.75 68.25V35.75C3.75 34.888 4.09241 34.0614 4.7019 33.4519C5.3114 32.8424 6.13805 32.5 7 32.5H13.5"
                  stroke="currentColor"
                  stroke-width="2.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
            </g>
            <defs>
              <clipPath id="clip0_3_9274">
                <rect width="72" height="72" rx="5" fill="currentColor" />
              </clipPath>
              <clipPath id="clip1_3_9274">
                <rect
                  width="78"
                  height="78"
                  fill="currentColor"
                  transform="translate(-6)"
                />
              </clipPath>
            </defs>
          </svg>
        </app-card>
        <app-card
          title="Mentoring"
          text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam.
      "
          ><svg
            icon
            id="Layer_1"
            style="enable-background: new 0 0 256 256"
            version="1.1"
            viewBox="0 0 256 256"
            xml:space="preserve"
            class="w-16 h-16"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g>
              <path
                fill="currentColor"
                d="M51.6,122.4c1.2,0,2.4-0.5,3.4-1.4c10.3-10.2,23.8-14.9,42.3-14.9c0.1,0,0.3,0,0.4,0c3.6,0,7.4,0.2,11.2,0.3   c17,0.7,36.2,1.4,51.1-9.9l6.4,6.1c0.9,0.9,2.1,1.3,3.3,1.3c0.5,0,0.9-0.1,1.4-0.2c1.6-0.5,2.9-1.8,3.3-3.5l6.5-27.7   c0.4-1.7-0.1-3.4-1.4-4.6c-1.3-1.2-3-1.6-4.7-1.1L147.6,75c-1.6,0.5-2.9,1.8-3.3,3.5c-0.4,1.7,0.1,3.4,1.4,4.6l7.1,6.7   c-12,8.2-28,7.6-43.5,7c-3.9-0.2-7.8-0.3-11.5-0.3c-0.1,0-0.3,0-0.4,0c-21.2,0-36.8,5.6-49,17.7c-1.9,1.9-1.9,4.9-0.1,6.8   C49.1,121.9,50.4,122.4,51.6,122.4z M169.6,78.4l-2.7,11.5l-8.6-8.1L169.6,78.4z"
              />
              <path
                fill="currentColor"
                d="M94.1,72.3c0.6,0,1.1-0.1,1.7-0.3l5.1-1.9l1.9,5.1c0.7,1.9,2.6,3.1,4.5,3.1c0.6,0,1.1-0.1,1.7-0.3c2.5-0.9,3.8-3.7,2.8-6.2   l-1.9-5.1l5.1-1.9c2.5-0.9,3.8-3.7,2.8-6.2c-0.9-2.5-3.7-3.7-6.2-2.8l-5.1,1.9l-1.9-5.1c-0.9-2.5-3.7-3.7-6.2-2.8   c-2.5,0.9-3.8,3.7-2.8,6.2l1.9,5.1L92.4,63c-2.5,0.9-3.8,3.7-2.8,6.2C90.3,71.1,92.1,72.3,94.1,72.3z"
              />
              <path
                fill="currentColor"
                d="M110.6,122.9c-7.7-3.5-16.9-0.1-20.4,7.6c-1.7,3.7-1.8,7.9-0.4,11.8c1.4,3.9,4.3,6.9,8,8.6c2,0.9,4.2,1.4,6.4,1.4   c1.8,0,3.7-0.3,5.4-1c3.9-1.4,6.9-4.3,8.6-8c1.7-3.7,1.8-7.9,0.4-11.8C117.2,127.7,114.4,124.6,110.6,122.9z M109.5,139.3   c-0.6,1.4-1.8,2.5-3.2,3c-1.4,0.5-3,0.5-4.4-0.2c-1.4-0.6-2.5-1.8-3-3.2c-0.5-1.4-0.5-3,0.2-4.4c1-2.1,3.1-3.4,5.3-3.4   c0.8,0,1.6,0.2,2.4,0.5c1.4,0.6,2.5,1.8,3,3.2C110.2,136.4,110.1,137.9,109.5,139.3z"
              />
              <path
                fill="currentColor"
                d="M173.5,57.8c1,1.2,2.3,1.8,3.8,1.8c1,0,2.1-0.3,3-1l25.3-20.1c2.1-1.7,2.4-4.7,0.8-6.8c-1.6-2.1-4.7-2.4-6.8-0.8L178,48.1   l-7.2-8.9c-1.7-2.1-4.7-2.4-6.8-0.7c-2.1,1.7-2.4,4.7-0.7,6.8L173.5,57.8z"
              />
              <path
                fill="currentColor"
                d="M245.8,11.9H10.2c-2.7,0-4.8,2.2-4.8,4.8s2.2,4.8,4.8,4.8h11.5v146.2c0,2.7,2.2,4.8,4.8,4.8h53.4l-20.3,65.3   c-0.8,2.5,0.6,5.2,3.2,6c0.5,0.2,1,0.2,1.4,0.2c2.1,0,4-1.3,4.6-3.4L90,172.6H166l21.2,68.1c0.6,2.1,2.5,3.4,4.6,3.4   c0.5,0,1-0.1,1.4-0.2c2.5-0.8,4-3.5,3.2-6l-20.3-65.3h53.4c2.7,0,4.8-2.2,4.8-4.8V21.6h11.5c2.7,0,4.8-2.2,4.8-4.8   S248.4,11.9,245.8,11.9z M224.7,162.9H31.3V21.6h193.4V162.9z"
              />
            </g>
          </svg>
        </app-card>
      </div>
    </div>
  </div>
</section>
<section id="testimonials" class="section testimonials">
  <div class="container">
    <h2 class="title title-2 max-w-[550px]">
      Hear out what our clients say about us.
    </h2>
    <div class="testimonial-grid">
      <app-testimonial
        *ngFor="let item of testimonials"
        [testimonial]="item"
      ></app-testimonial>
    </div>
  </div>
</section>
