@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700&display=swap');


::selection {
  background-color: var(--blue-dark);
  color           : var(--bg-gray-smooth);
}

::-webkit-scrollbar {
  width: rem(12);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-gray-smooth);
}

::-webkit-scrollbar-thumb {

  background-image  : var(--primary-gradient);
  -webkit-box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.7);
  box-shadow        : inset 2px 2px 5px 0 rgba(#fff, 0.7);
  border-radius     : 100px;
}

html {
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
  scroll-behavior: smooth;

}

html,
body {
  scroll-behavior: smooth;
  font-size      : var(--default-size);
  overflow-x     : hidden;
  min-height     : 100vh;
}

.container {
  width         : 100%;
  margin-inline : auto;
  padding-inline: rem(20);

  @media #{$sm-screen} {
    max-width: 540px;
  }

  @media #{$md-screen} {
    max-width: 720px;
  }

  @media #{$lg-screen} {
    max-width: 960px;
  }

  @media #{$xl-screen} {
    max-width: 1140px;
  }


  @media #{$md-screen} {
    &:not(.content) {

      padding-inline: 0;
    }

    &:not(.content) {

      padding-inline: 0;
    }
  }

  @media #{$xl-screen} {
    &.fixed {

      padding-inline: 0;
    }
  }
}

.color-content {
  color: var(--color-black);
}

.blue-dark-color {
  color: #4A556C;
}

.section {
  padding-block: rem(80);
}

.title-1 {
  @extend %title-1;
}

.title-2 {
  @extend %title-2;
}

.title-3 {
  @extend %title-3;
}

.title-4 {
  @extend %title-4;
}

.text-content {
  margin-block: rem(10);
  color       : var(--text-blue);
  @apply text-base;
}

.block-context {
  margin-top   : rem(15);
  margin-bottom: rem(35);
}